canvas {
    outline: 2px solid black; 
}

/* CSS styles for screens smaller than 1500px */
@media (max-width: 1500px) {
    /* Add your CSS styles here to change the webpage style */
    body {
      background-color: lightblue;
      font-size: 18px;
    }
  }

  @media (max-width: 1000px) {
    /* Add your CSS styles here to change the webpage style */
    body {
      background-color: lightgoldenrodyellow;
      font-size: 18px;
    }

    @media (max-width: 600px) {
        /* Add your CSS styles here to change the webpage style */
        body {
          background-color: lightgrey;
          font-size: 18px;
        }
      }
  }

  /* canvas wont chgange size */
  /* could only get it to change color at the differnt sizes */